$corDeFundo: #140404;

$corTexto: #fff;
$corTextoSecundario: silver;

$corDeFundoBotaoPrimario: #690000;
$corDeFundoBotaoSecundario: #c50010;

$corDeFundoBotaoDark: #000;

$vinho: #690000;
$black: #000;
$yellow: #9C791D;
$purple: #4F2AC3;