$corDeFundo: #140404;

$corTexto: #dbd9d9;
$corTextoSecundario: #fffafa;

$corDeFundoBotaoPrimario: #690000;
$corDeFundoBotaoSecundario: #a3000e;

$corDeFundoBotaoDark: #000;

$vinho: #690000;
$black: #000;