@use 'variaveis';
@use 'hero';
@use 'event';
@use 'header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', system-ui;
    list-style: none;
    color: variaveis.$corTexto;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
    background-color: variaveis.$black;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTexto;
}

@mixin title($fontSize: 38px) {
    @include text($fontSize);
    color: variaveis.$corTexto;
}

.text {
    @include text;
    color: variaveis.$black;

    @media (max-width: 768px) {
        @include text(16px);
    }
}

.title--three {
    @include title(30px);
    margin-bottom: 20px;

    @media (max-width: 768px) {
        @include title(24px);
    }
} 

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDeFundoBotaoPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    cursor: pointer;
    letter-spacing: 1px;
    border: 1px solid  variaveis.$corDeFundoBotaoPrimario;

    &:hover {
        background-color: lighten(variaveis.$corDeFundoBotaoPrimario, 3%);
    }

    &--secondary {
        background-color: variaveis.$corDeFundoBotaoSecundario;
        border-color: variaveis.$corDeFundoBotaoSecundario;

        &:hover {
            background-color: lighten(variaveis.$corDeFundoBotaoSecundario, 3%);
        }
    }

    &--dark {
        background-color: rgba(variaveis.$corDeFundoBotaoDark, 0.8);
        border-color: variaveis.$corTextoSecundario;

        &:hover {
            background-color: variaveis.$corTextoSecundario;
            color: variaveis.$corDeFundo;
        }
    }
}
